body {
  display: grid;
  place-items: center;
  height: 100vh;
  margin: 0;
  background-color: rgb(118, 89, 121);
  
}
.container {
  width: 400px;
  height: 400px;
  background-color: rgb(219, 217, 217);
  box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
}

h2 {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}
.form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-left: 21vh;
    box-shadow: inset 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #4f9b51;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 31vh;
  }
  
  .error-message {
    color: red;
    font-size: 20px;
    margin-top: 5px;
  }
  